[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=str
Group=str

WorkingDirectory=/home/str/12yak/
Environment="PYTHONPATH=/home/str/12yak/"
ExecStart=/home/str/12yak/.venv/bin/python /home/str/12yak/bot_main.py

[Install]
WantedBy=multi-user.target